# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Cross complier tool
gcc-linaro-arm-linux-gnueabihf-4.9-2014.09_linux/*

# Image
image-linux-31452/*

# Debug files
*.dSYM/

# Test
test
